[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
pyparsing = "*"
rainbow-logging-handler = "*"
mashumaro = "*"

[dev-packages]
pipenv = "*"

[requires]
python_version = "3.9"
